
* {
    margin: 0;
    padding: 0;
    font-size: smaller;
}
/*a{*/
/*    vertical-align:middle;*/
/*}*/
.PlayVideo{
    width: 100%;
    background-color: white;
    position: relative;

}
.PlayVideo>*{
    width: 90%;
    margin: 2% 5%;
}

.lab{
    width: 10%;
    border:1px rgba(255,255,255,0.8) solid;
    border-radius: 10px;
    color:white;
    font-size: 10px;
    background:rgba(0,0,0,0.1);
    text-align: center;
    position: absolute;
    right: 2%;
    top:2% ;

}
.CD{
    display: inline-block;
    position: absolute;
    right: 5%;
    border:3px solid black;
    bottom:17%

}

.playBtn{
    height: 50%;
    text-align: center;
    position: absolute;
    right: 0;
}
.playBtn  svg{
    width:10%;
}
.videoplay{
    height: 70%;
    border-radius: 10px;
    z-index: 0;
}
.videoItem{
    width:100%;
}
.fm_title{
    text-align: left;
    padding: 0;
}
.Circleimg{
    width:7%;
    display: inline-block;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.Circleimg img{
    width:100%;
    height: 100%;
}
.rightDiv{
    display: inline-block;
    position: absolute;
    text-align: right;
    padding-right: 4%;
}
.rightDiv a{
    display: inline-block;
    width:7%;
    text-decoration:none;
}
svg{
    display: inline-block;
    height:100%;
    width:100%;
}
.rightDiv span{
    position: relative;
    font-size:20%;
    margin-left: -3%;
    margin-top: -100%;
    background-color: white;
}

/*.PlayVideo video::-webkit-media-controls-mute-button{*/
/*    display: none;*/
/*}*/
/*.PlayVideo video::-webkit-media-controls-volume-slider{*/
/*    display: none;*/
/*}*/
/*.PlayVideo video::-internal-track-segment-highlight-before{*/
/*    background: rgb(255,0,0);*/
/*}*/

/*.PlayVideo video::-webkit-media-controls-play-button{*/
/*    display: none;*/
/*}*/

/*.PlayVideo video::-webkit-media-controls-volume-control-container{*/
/*    display: none;*/
/*}*/
