.a {
    padding: 0;
    padding-left: 7%;
}


.img1 {
    width: 95%;
    border-radius: 4%;
}

.img2 {
    width: 100%;
    border-radius: 4%;
}

.listenShortVideoP {
    margin-top: 4%;
    margin-bottom: 1%;
}

.listenShortVideoP1{
    margin-top: 4%;
    padding-left: 8%;
}
.btn1 {
    background: transparent;
    border: none;
    font-size: 12px;
    color: darkgray;
    padding: 0px;
}

.btn2 {
    background: transparent;
    border: none;
    font-size: 12px;
    color: darkgray;
    padding-left: 4%;
}
.b{
    margin-top: 4%;
}