/*ui li{*/
/*    list-style-type: none;*/
/*}*/

.search{
    width: 350px;
    height: 30px;
    border-radius: 15px;
    background: lightgray;
    align-content: center;
    text-align:center;
}

myTabContent{
    width: 100%;
}
/*[class*="col-"]{*/
/*    padding-top:20px;//调整行高*/
/*padding-bottom: 5px;*/
/*    align:center;*/
/*}*/

.container1 {width: 100%;}
/*.photo0 {float: left; width:5%;}*/
/*.photo {float: left; width:15%;}*/
.photo1{float: left; width:12%;}
.content {float: left; width:80%; text-align:left}
/*.text {color: #0f0f0f;font-size: 10px }*/
/*.news {color: darkgray;font-size: 1px}*/
/*.text1{color: #0f0f0f;font-size: 15px}*/
/*.text2{color: darkgray;width:80%;font-size: 14px;}*/

.photo3 {float: left; width:20%;}
.content3 {float: right; width:75%; text-align:left}

.photo4 {float: left; width:5%;}
.content4 {float: left; width:30%; text-align:left}
.photo5 {float: right; width:5%;}

/*a{ color:darkblue;}*/
