#listen1 img {
  width: 100%;
  /*怎么设置高度？？*/
}

.yueKuVideoa button {
  width: 119%;
  border: none;
  background: #e8e8e8;
  padding: 2%;
  font-size: 19px;
  color: black;
}

.yueKuVideoa {
  margin-left: 0%;
  margin-top: 3%;
  margin-right: 0%;
}


.yueKuVideobMain video{
  width: 100%;border-radius: 3%
}
.yueKuVideoa1{
  margin-top: 1%;
}
.yueKuVideob{
  font-size: 125%;
  color: black;
}
.yueKuVideoc{
  margin-top: 2%;
}
.yueKuVideod{
  margin-top: -1%;
}

.yueKuVideod img{
  width: 18%;
}
.yueKuVideoe{
  width: 20%;
}
.yueKuVideof{
  padding: 0;
  /* margin-left: 0%; */
  padding-left: 8%;
}
.yueKuVideof img{
  width: 44%;
}
.yueKuVideog{
  padding: 0;
}
.yueKuVideog span{
  color: darkgrey;
}

.yueKuVideoMain{
  margin-top: 10%;
}
.yueKuVideoMain video{
  width: 100%;
  border-radius: 3%;
}
